# Flask Web Framework
Flask
gunicorn

# OpenRouter API & HTTP Requests
requests

# AI & LLM Tools
langchain
langchain-community
huggingface-hub
sentence-transformers
GPT4All

# Speech Recognition & TTS
SpeechRecognition
PyAudio  
pyttsx3
pydub

# PDF & DOCX File Processing
PyPDF2
pdfplumber
python-docx

# Vector DB & Embedding
chromadb
faiss-cpu

# Text Preprocessing
beautifulsoup4
nltk

# Utilities & Core Libraries
Werkzeug
python-dotenv
uuid
pytz

# If using language model files locally
# transformers
# torch


sounddevice
numpy
